<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Return on Investment Calculator</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
<h1>Return on Investment Calculator</h1>

{% block content %}{% endblock %}

</body>
</html>